/** AFFICHAGE DE LA LISTE DES JOUEURS DANS LA SALLE D'ATTENTE **/

.player-list {
  display: grid;
  grid-template-columns: 1fr; /* par défaut une seule colonne */
  gap: 12px;
  padding: 10px;
  min-width: 150px;
}

.player-list svg {
  fill: var(--color-secondary);
}

.player-item {
  display: flex;
  align-items: center;
  gap: 8px;
}

.player-name {
  font-weight: bold;
  color: white;
  text-shadow: 2px 2px 0 var(--color-secondary);
}

.player-ready {
  color: green;
}

/** RESPONSIVE **/

/* Pour grands écrans : si on dépasse les 4 joueurs, 2 colonnes */
@media (min-width: 1024px) {
  .player-list {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  }
}

@media (max-width: 768px) {
  .player-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .player-item {
    margin: 4px;
  }
}
