/** BASE **/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #c4a538;
  color: #333;

  /* forme de blob ajoutée dans le fond */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 200"><path fill="%23FFFFFF" d="M30.1,-47.7C40.2,-46.2,50.5,-40.7,55.9,-32C61.2,-23.4,61.7,-11.7,65.2,2C68.7,15.8,75.3,31.5,70,40.2C64.7,49,47.5,50.7,33.8,59.1C20.2,67.5,10.1,82.6,-0.7,83.9C-11.6,85.2,-23.2,72.7,-34.8,63.1C-46.5,53.6,-58.3,47,-65.1,37C-71.9,27,-73.8,13.5,-73.4,0.2C-73,-13,-70.4,-26.1,-64.8,-38.2C-59.2,-50.3,-50.6,-61.6,-39.3,-62.4C-28,-63.2,-14,-53.4,-2,-49.9C10,-46.4,19.9,-49.1,30.1,-47.7Z" transform="translate(100 100)" /></svg>');
  background-repeat: no-repeat;
  background-position: 90px 600px;
  background-size: 500px;
  
}


/** BOUTONS **/

.button, .pseudo-form{
  padding: 25px 20px;
  margin: 10px;
  font-size: 20px;
  font-weight: 600;
  align-items: center;
  background-color: white;
  color: #4f1507;
  border: 3px dashed #4f1507;
  border-radius: 15px;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(244, 255, 190);
  transform: scale(1.02);
}

.button-group {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}


/** LAYOUT **/

.title {
  color: white;
  text-shadow: -1px -1px 0 #4f1507,
                  1px -1px 0 #4f1507,
                 -1px 1px 0 #4f1507,
                  1px 1px 0 #4f1507;
  font-size: 50px;
    
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.app-footer {
  margin-top: 40px;
  font-size: 12px;
  opacity: 0.7;
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: black;
}


/** RESPONSIVE **/




